.heading{
    color:#fafafa;
    font-family: inherit;
    text-shadow: none;
}

.sub-heading{
    color:#fafafa;
    font-family: inherit;
}

.column-headings{
    color:#fafafa;
    font-family: inherit;
    display:flex;
}

table.GeneratedTable {
    margin:20px 20px;
width: 100%;
background-color: #ffffff;
border-collapse: collapse;
border-width: 1px;
border-color: #ffffff;
border-style: solid;
color: #000000;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width: 1px;
border-color: grey;
border-style: solid;
padding: 3px;
}

table.GeneratedTable thead {
    background-color: #ffcc00;
}

/* MATCHES */

.match-heading{
    color:#ffcc00;
    text-shadow: none;
}

select{
    border:none;
}

select:active{
    border:none;
}

/*Even or Odd */


.eo-heading{
    color:#8BC34A;
    text-shadow: none;
}

/* Parlay */
.parlay-heading{
    color:#D9D2E9;
    text-shadow: none;
}

/* Try */
.try-heading{
    color:#A4C2F4;
    text-shadow: none;
}

/* Boot */
.boot-heading{
    color:#4A86E8;
    text-shadow: none;
}
