footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 1rem;
    width:100%;
  }
  footer * {
    font-family: 'Inter' , sans-serif;
    /* box-sizing: border-box; */
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    /* min-height: 15em; */
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }

  @media screen and (max-width: 768px) {
    h3{
      font-size: 1rem;
     
      
    }
  }
  @media screen and (max-width: 425px) {
    h3{
      font-size: 1rem;
    }
  }
  .footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  /* li:not(:first-child) {
    margin-top: 0.8em;
  } */
  .footer-links li a {
    color: #a7a7a7;
    text-decoration: none;
  
  }
  .footer-links li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background:linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    color: #000;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #bac6d9;
  }
  
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
  
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: #27bcda;
  }
  .copyright p {
    font-size: 0.9em;
  }

  .sub__button{
    font-family: 'Tektur', cursive;
    font-weight: 700;
   font-style: italic;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  
  }